<div class="row text-center">
  
    <!-- ============================================================== -->
    <!-- hoverable table -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Usuarios Registrados</h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Opciones</th>
                            <!-- <th scope="col">Foto</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios; let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.email}}</td>
                            <!-- <td>@mdo</td> -->
                            <button  class="btn btn-danger btn-block mb-2"  (click)="borrarUsuario(usuario)"> 
                                <i class="fas fa-trash"></i>
                                Eliminar
                            </button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end hoverable table -->
    <!-- ============================================================== -->
</div>