.imagen{
    width: 26%;
    margin-bottom: 4%;
}

.w150{ 
    width: 150px !important;
}

.alerta{
    margin-top: 14%;
    width: 55%;
    text-align: center;
    margin-left: 10%;
}

.card{
    height: 95%;
}