<div class="row text+center"> 
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Listado de Estudiantes</h5>
            <button  class="btn btn-rounded btn-success btnButton">
                <i class="fas fa-plus"></i>
                Crear Estudiante
            </button>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre Estudiante</th>
                                <th>Nombre Materia</th>
                                <th>Profesor Asignado</th>
                                <th>Ver estudiante</th>
                                <th>Editar estudiante</th>
                                <th>Eliminar estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let estudiante of estudiantes; let i=index">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    <input class="form-control text-center" disabled name="nombre" [(ngModel)]="estudiante.nombre" type="text">
                                </td>
                                <td>
                                    <input class="form-control text-center" disabled name="nombre" [(ngModel)]="estudiante.materia.nombre" type="text">
                                </td>
                                <td>
                                    <input class="form-control text-center" disabled name="nombre" [(ngModel)]="estudiante.usuario.nombre" type="text">
                                </td>
                                <!-- <td><button (click)='crearMateria()' class="btn btn-rounded btn-success">
                                    <i class="fas fa-plus"></i>
                                    Crear</button></td> -->
                                <td><button  class="btn btn-rounded btn-info">
                                    <i class="fas fa-info"></i>
                                    Ver</button></td>
                                   
                                <td>
                                  <button  class="btn btn-rounded btn-primary">  <!--  -->
                                    <i class="fas fa-edit"></i>
                                    Editar
                                </button>
                            </td>
                                <td>
                                 <button  class="btn btn-rounded btn-danger">
                                    <i class="fas fa-trash"></i>
                                    Eliminar
                                </button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>